.task input::placeholder {
	color: #3d3c3c;
}

#form_tas2 input {
	background-color: #999;
	padding: 1px 5px;
	margin: 3px 0px;
	font-size: 15px;
	font-weight: 400;
}

#form_tas2 input::placeholder {
	color: #3d3c3c;
}
.item3 p {
	color: #fff;
	padding: 5px 0;
}
.item6 p{
	padding: 5px 0px;
}